.background--dark {
  background-color: $primaryColor;
  color: #fff;
  font-weight: 300;

  .btn:hover {
    background-color: #fff;
    color: $primaryColor;
    font-weight: 300;
  }

  .headline {
    border-bottom: 10px solid #fff;
  } 

  .input {    
  }
}