@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-o-transition: $args;
	-ms-transition: $args;
	transition: $args;
}

$white: #fff;
$black: #121212;
$gray: #807f83;
$glitch-red: #ff536b;
$glitch-blue: #3ffeff;

.btn {
	@include transition(all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94));

}


.btn-glitch {
	// Glitch stuff
	transform: translateZ(0);
	overflow: visible;


	&.btn-glitch-active {
		-webkit-filter: url('#filter');
		filter: url('#filter');

		&::after,
		&::before {
			content: '';
			width: 1px;
			position: absolute;
			top: -1px;
			bottom: -1px;
		}

		&::after {
			left: -2px;
			background-color: $glitch-red;
			animation: colorshift-red 2.6s infinite;
			animation-timing-function: step-end;
		}

		&::before {
			right: -2px;
			background-color: $glitch-blue;
			animation: colorshift-blue 2.6s infinite;
			animation-timing-function: step-end;
		}
	}
}


.body-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 100vh;
  
  .dark {
	  background-color: $black;
  }
  
  .half {
	 flex: 0 0 100%;
	 max-height: 50%;
	 min-height: 50%;
	
	 display: flex;
	 justify-content: center;
	 align-items: center;
  }
}

@keyframes colorshift-red {
	0%, 7% {
		background-color: $glitch-red;
	}
	8%, 18% {
		background-color: transparent;
	}
	19% {
		background-color: $glitch-red;
		width: 2px;
	}
	23%, 100% {
		background-color: transparent;
	}
}

@keyframes colorshift-blue {
	0%, 7% {
		background-color: $glitch-blue;
	}
	8%, 18% {
		background-color: transparent;
	}
	19% {
		background-color: $glitch-blue;
		width: 2px;
	}
	23%, 100% {
		background-color: transparent;
	}
}