include pug/_mixins  

doctype html
html
  head
    meta(charset="UTF-8")
    meta( name="viewport" content="initial-scale=1")
    +php( "wp_head() ")
  body
    #home-welcome
      include header

      section.page-section--breadcrumbs
        .wrapper.wrapper--text-left
          nav(role=navigation)
            ul.breadcrumbs
              li.breadcrumbs__item 
                a.breadcrumbs__link(href!="#") jujustudio.co.uk
              li.breadcrumbs__item.breadcrumbs--separator /   
              li.breadcrumbs__item 
                a.breadcrumbs__link(href!="#") blog
              li.breadcrumbs__item.breadcrumbs--separator /      
              li.breadcrumbs__item.breadcrumbs__item--current
                a.breadcrumbs__link(href!="#") How-to-make-cool-tattoo-in-3h

      section
        .wrapper.wrapper--text-left
          .blog-post.blog-post--content
            .blog-post__header
              .blog-post__title.blog-post__title--large How to make coll tattoo in 3h
              .blog-post__author Kate Janczarek
              .blog-post__date 21.26.2017
              .blog-post__taxonomy Tattoo, Art, Modern
            img.blog-post__photo.blog-post__photo--content(src!="assets/img/blog-scheme.jpg")
            .generic-content
              p
                strong Lorem ipsum dolor sit amet, cotur acing elit. Ut euis eget dolor sit amet congue. Ut vira codo matis. Sed lacia luctus magna ut sodales. 
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sollicitudin vitae felis sed consectetur. Donec tortor dui, elementum fermentum urna vitae, lacinia maximus ex. Cras sit amet metus nec lectus rutrum pulvinar vel accumsan enim. Mauris bibendum tincidunt elit eu pulvinar. Maecenas id lorem ac nibh dictum efficitur pretium fermentum lorem. Proin quis lacus ac ligula viverra convallis pellentesque sit amet nisi. Phasellus ante nisl, iaculis facilisis placerat nec, viverra ut purus.
              p Nunc laoreet tristique purus, sed porttitor felis euismod sit amet. Praesent pharetra magna et risus gravida mattis. Cras quis eros hendrerit, ullamcorper purus nec, auctor arcu. Curabitur eu ligula at tortor efficitur auctor. Nunc convallis accumsan ipsum pretium rutrum. Quisque sollicitudin varius velit, nec aliquam augue vestibulum sit amet. Pellentesque quis elit turpis. Proin rutrum laoreet feugiat. Proin bibendum blandit pellentesque. Praesent varius ut nulla id auctor. Pellentesque scelerisque diam tincidunt pellentesque cursus. Sed sit amet imperdiet felis.
              p Donec ultricies dolor quis magna tempus, id finibus elit interdum. Integer orci dui, vehicula in gravida nec, commodo eget nunc. Vivamus in risus ut justo pulvinar consectetur sed sit amet purus. Curabitur semper lacus at erat dignissim imperdiet. Etiam egestas sem commodo, accumsan libero a, porta orci. Aenean eu tincidunt lorem, nec iaculis urna. Curabitur euismod ac orci at interdum. Ut quis diam ut enim convallis bibendum at quis lectus. Ut libero nibh, ullamcorper id rutrum ac, efficitur vel urna.
              p Etiam hendrerit dui ac libero ullamcorper aliquet. Pellentesque maximus elit nec feugiat ultrices. Donec sed lorem sed ligula tempus ultrices. Praesent eget arcu tortor. Maecenas bibendum lorem quis viverra elementum. Quisque consequat, sem quis pharetra interdum, felis lacus tincidunt orci, quis aliquam libero risus sed quam. Cras leo odio, tristique ut lacus id, ultricies molestie nulla. Suspendisse tellus dui, molestie vel velit a, feugiat blandit nunc. Ut a ornare leo. Cras pulvinar quam ut consequat egestas.


      +php( "get_footer()" )