include pug/_mixins  

section#contact.page-section.page-section--last
  .row
    .col-medium-6.background--dark
      .wrapper.wrapper--left.wrapper--contact
        .row--grid.row--center-vertical
          .col-large-6
            .contact-details
              | JUJU Tattoo Studio
              br
              | +48 600 600 600
              br
              | hello@juju.co.uk
              br
              | Picadyly street 883A
              br
              | London
          .col-large-6  
            form.contact-form  
              fieldset
                input#email.input(name="email" type="email" placeholder="your email" )
                textarea#message.input.input--textarea(name="name" placeholder="your message" )

    .col-medium-6
      .wrapper.wrapper--right.wrapper--map
        #map
        script.
          var map;
          function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 51.5064012, lng: -0.1345676},
              zoom: 15
            });
          }   

footer.footer
  .wrapper.row.row--space-between
    .copyright copyright JUJU 2017 all rights reserved 
    .site_authors design: jamuszyn coding: Surfidea


include assets/img/glitch/buttons.svg
script( src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzIsA0S_k4NKfSUzhvo98IK89_70fVpjA&callback=initMap" async defer )
+php( "wp_footer()" ) 