include pug/_mixins  

doctype html
html
  head
    meta(charset="UTF-8")
    meta( name="viewport" content="initial-scale=1")
    +php( "wp_head() ")
  body
    #home-welcome
      include header

      .
        <?php

          global $post;

          $content = $post->post_content;
          $title = $post->post_title;

        ?>
 
      section#blog.page-section
        .wrapper
          h2.headline
            +phpEcho( "$title" )
        .wrapper.wrapper--text-left    
          .generic-content.page-section__content
            +phpEcho( "wpautop( $content )" )
        +php( "wp_reset_query()" )
      +php( "get_footer()" )