include pug/_mixins  

doctype html
html
  head
    meta(charset="UTF-8")
    meta( name="viewport" content="initial-scale=1")
    +php( "wp_head() ")
  body
    #home-welcome
      include header
      .
        <?php
          global $post;
          $description = get_post_meta( $post->ID, '_easy_wp_meta_description' )[0];
        ?>
      
      section#blog.page-section
        .wrapper
          h2.headline Blog
          .page-section__content.row.row--space-around
            +php( "global $post" )
            .
              <?php
              $args = array(
                'posts_per_page'   => 12, 
                'orderby'          => 'date' 
              );
              $myposts = get_posts( $args );
              ?>
            +phpIf( "$myposts" )  
              +phpForeach( "$myposts as $post" )     
                +php( "setup_postdata( $post )" ) 
                .blog-post.blog-post--margin-bot
                  .blog-post__header
                    .blog-post__title
                      a( href!="<?php the_permalink(); ?>" )
                        +php( "the_title()" )
                    .blog-post__author 
                      +php( "the_author()" )
                    .blog-post__date 
                      +php( "the_date()" )
                    .blog-post__taxonomy
                      +php( "the_category(', ')" )
                  +phpIf( "has_post_thumbnail()" )    
                    a(href!=" <?php the_permalink(); ?> ")    
                      img.blog-post__photo(src!='<?php the_post_thumbnail_url(); ?>')
                  .blog-post__excerpt
                    +php( "the_excerpt()" )
                        
          a.btn.btn-glitch(href!="blog") Read More Posts
            +php( "wp_reset_query()" )  

      +php( "get_footer()" )
