include pug/_mixins  

doctype html
html
  head
    meta(charset="UTF-8")
    meta( name="viewport" content="initial-scale=1")
    +php( "wp_head() ")
  body
    #home-welcome
      include header
      
      
      section#blog.page-section( data-matching-link="#blog-link" )
        .wrapper
          h2.headline 
            +php( "the_title()" )
          .page-section__content.row.row--space-around
            .
              <?php

                $currentPage = get_query_var('paged');
                $blog_loop = new WP_Query( array(
                  'posts_per_page' => 12,
                  'paged' => $currentPage
                ) );

                $myposts = $blog_loop;
              ?>
            +phpIf( "$myposts" )  
              +phpWhile( "$myposts->have_posts()" )     
                +php( "$myposts->the_post()" ) 
                .blog-post.blog-post--margin-bot
                  .blog-post__header
                    .blog-post__title
                      a( href!="<?php the_permalink(); ?>" )
                        +php( "the_title()" )
                    .blog-post__author 
                      +php( "the_author()" )
                    .blog-post__date 
                      +php( "the_date()" )
                    .blog-post__taxonomy
                      +php( "the_category(', ')" )
                  +phpIf( "has_post_thumbnail()" )    
                    a(href!=" <?php the_permalink(); ?> ")    
                      img.blog-post__photo(src!='<?php the_post_thumbnail_url(); ?>')
                  .blog-post__excerpt
                    +php( "the_excerpt()" ) 
          .row.row--space-between.row--no-stretch          
            +php( "$urlNext = get_next_posts_page_link( $myposts->max_num_pages)" )      
            +php( "$urlPrev = get_previous_posts_page_link( $myposts->max_num_pages)" )  
            +phpIf( "$currentPage !== 0" )
              a.btn.btn-glitch.btn--margin-bottom(href!="<?php echo $urlPrev; ?>")             
                +phpEcho( "pll_e( '&lt;&lt; Previous' )" )      
            +phpIf( "$urlNext" )        
              a.btn.btn-glitch.btn--right(href!="<?php echo $urlNext; ?>")             
                +phpEcho( "pll_e( 'Next &gt;&gt;' )" )

          +php( "wp_reset_query()" )  

      +php( "get_footer()" )
