.blog-post {
  max-width: 450px;
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 60px;
  }
  @include atMedium {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }  
  
  @include atMedium {
    width: 28%;  
  }

  &--margin-bot {
    margin-bottom: 70px!important;    
    @include atMedium {
      margin-bottom: 120px!important;
    }
  }

  &--content {
    max-width: none;
    width: 100%;
  }

  &__header {
    line-height: 2;
    padding-bottom: 50px;
  }

  &__title {
    font-size: 1.5rem;
    line-height: 1.5;
    
    &--large {
      font-size: 2.25rem;
    }
  }

  &__author,
  &__date {
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 0.75rem;
    font-weight: 300;
  }

  &__author {    
  }

  &__date {    
  }

  &__taxonomy {
    font-size: 0.75rem;
    color: $lightGrey;
  }

  &__photo {    
    width: 100%;
    margin-bottom: 35px;
    
    &--content {      
      max-width: 810px; 
      margin-bottom: 60px;     
    }
  }

  &__excerpt {
    text-align: left;
  }
}