$columnCount: 12; 

// default width 100% for mobile
[class*='col-'] { 
  width: 100%;
  float: none;   
} 

@include atSmall {
  @for $i from 1 through $columnCount { 
    .col-small-#{$i} {
      width: (100%/$columnCount) * $i; 
      float: left;   
    }
  }
}

@include atMedium {
  @for $i from 1 through $columnCount { 
    .col-medium-#{$i} {
      width: (100%/$columnCount) * $i; 
      float: left;   
    }
  }
}

@include atLarge {
  @for $i from 1 through $columnCount { 
    .col-large-#{$i} {
      width: (100%/$columnCount) * $i; 
      float: left;   
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  
  &--space-around {
    @include atSmall {
      justify-content: space-around;    
    }
  }

  &--space-between {
    @include atSmall {
      justify-content: space-between;    
    }
  }

  &--center-vertical {
    @include atSmall {
      height: 100%;
      align-items: center;    
    }
  }

  &--grid {    
  @extend %clearfix;
  }
}

.col-gutter--gallery {
  padding-left: 6px;
  padding-right: 6px;
}  