$placeholderColor: #fff;

.input {
    display: inline-block;
    width: 100%;
    min-width: 250px;
    max-width: 450px;
    padding: 15px 20px;
    margin-bottom: 20px;
    border: 1px solid $placeholderColor;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 400;
    color: inherit;    
    transition: $animationTime;

    &--textarea {
      min-height: 135px;
      resize: none;
    }

    &::-moz-placeholder {
      color: $placeholderColor;
      opacity: 1;
    } 

    &::-webkit-input-placeholder {
      color: $placeholderColor;
      opacity: 1;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: $placeholderColor;
      opacity: 1;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: $placeholderColor;
      opacity: 1;
    }

    &:focus {
      border-color: $lightGrey;
    }
}