$hero--height: 85vh;

.large-hero {  
  display: none;
  
  @include atMedium {    
    display: block;
    width: 100%;
    height: $hero--height;
    position: relative;
    background: url(../img/hero-image.jpg) 50%;
    // background: url(../img/juju-header-bg-animation-glitch.gif) 50%;
    background-size: cover;  
  }

  &--subpage {    
    max-height: 270px;
    background-position-y: -28px; // adjusted background img as in design project
  }
}