.page-section {  
  padding-top: 70px;
  padding-bottom: 70px;  

  @include atMedium {    
    padding-top: 125px; 
    padding-bottom: 125px;    
  }

  &__content {
    padding-top: 65px;
    line-height: 1.6;

    &--subsection {
      padding: 50px 0;
    }

    &--padding-bot {      
      padding-bottom: 90px;
    }
  }

  &--last {
    padding-bottom: 0;
  }

  &--first {
    padding-top: 0;
  }

  &--breadcrumbs {
    padding-top: 70px;
    padding-bottom: 100px;
  }
}

header {
  padding-bottom: 70px;
  @include atMedium {
    padding-bottom: 125px;
  }
}

#contact {
  padding-top: 70px;
  @include atMedium {
    padding-top: 125px;
  }
}

