// colors
$primaryColor: #303346;
$secondaryColor: #ff6c00;
$footerColor: #d5d5d5;
$hoverColor: #d5d5d5;
$lightGrey: #bcbec0;
$primaryColorDark: #272934;

//breakpoints
$small: 640px;
$medium: 800px;
$large: 1200px;
$extraLarge: 1600px;

//animation time
$animationTime: all 0.2s ease;